{{!< default}}

<main class="site-main">

    <article class="single">
        {{#if @custom.feed_title}}
            <h1 class="single-title">{{@custom.feed_title}}</h2>
        {{/if}}

        <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} gh-feed gh-canvas">
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>

        {{pagination}}
    </article>
</main>

{{#contentFor "body_class"}}{{#if @site.cover_image}} with-full-cover {{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}
